@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    text-transform: uppercase;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
a:hover{
    text-decoration: underline;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgba(51,51,51);
    color: white;
}
section.imagem >p{
    background-color: rgba(0, 0, 0, 0.274);
    width: 400px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}