@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passero+One&family=Passion+One:wght@400;700;900&family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Felipa&family=Lavishly+Yours&family=Passero+One&family=Passion+One:wght@400;700;900&family=Smooch+Sans:wght@100..900&display=swap');



:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Felipa", serif;
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    text-transform: uppercase;
    font-variant: small-caps;
    font-family: var(--font2);
    color: white;
    font-size: 10vh;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 5vh;
}
section > p{
    padding-bottom: 2em;
}
a:hover{
    text-decoration: underline;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgba(51,51,51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.63);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem >p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.507);
    width: 400px;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}
section#id01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    
}
section#id02{
    background-image: url(imagens/background002.jpg);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}